{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  <p><a target="_blank" href="https://github.com/ShevtsovPM">Мой GitHUB</a></p>
                  <p><a target="_blank" href="https://vk.com/shevtsov_pishet">Мой VK</a></p>
                  <p><a target="_blank" href="https://www.instagram.com/shevtsov.p.m">Мой Instagram</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>
              Привет! Меня зовут Паша. Я люблю технологии и создавать что-то,
              поэтому после пяти лет работы инженером на электростанции я понял,
              что хочу сменить профессию и наконец заняться тем, что давно мне нравилось -
              программировать.
            </p>
            <p>
              Свою первую программу я написал ещё в школе, и это был, как вы уже догадались,
              Pascal. Самый трушный, синий, даже не АВС. Программа была простая но большая,
              и суть её была в том, чтобы помогать делать мне математику и геометрию. На условных
              операторах и модулях я собрал интерактивный калькулятор, который спрашивал у меня,
              какие данные у меня есть и на основе их, если мог - выдавал искомое.
            </p>
            <p>
              Потом я отошёл от этого, но лет пять назад вернулся в своеобразной манере - я
              как фанатик ставил линуксы на все, что мог. Я даже накатил как-то Mint на
              Prestigio 141C. Весело было. Но программировать я боялся.
            </p>
            <p>
              Но теперь я решился и не жалею. Например, этот сайт был сделан мной в ходе обучения
              на ЯндексПрактикуме. Многое здесь - результат выполнения заданий,
              но многое - моя личная инициатива, так что если
              дизайн, вдруг, вам покажется странным то... Извините. Я пока во фронт не очень :)
            </p>
            <p>
              Кроме программирования, я так же пишу художественные рассказы, и в данный момент
              работаю над книгой (если что, ссылка слева:).
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}